@import url('https://fonts.googleapis.com/css?family=Monoton');

  .container {
    padding: 15px;
    margin: 15px;
    .title_wrapper {
      display: flex;
      justify-content: center;
      font-family: 'Monoton', cursive;
      font-size: 2.3em;
      .title_prefix {
        background: white;
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
      .title_sufix {
        background: red;
        width: 100%;
      }
    }
  }
